{
  "root": true,
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "never"]
  },
  "reportUnusedDisableDirectives": true
}
